* {
	box-sizing: border-box;
	margin: 0; padding: 0;
	border-style: none;
}

html {
	font-size: 30px;
	font-family: Arial;
	background-color: #67727A;
  user-select: none;
}

body {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

#next {
	padding: 1rem;
	background-color: white;
	border: solid 5px black;
	position: fixed;
	right: 5%;
	bottom: 5%;
	cursor: pointer;
}

#main-container {
	margin-top: 1rem;
	width: 70%;
	height: 80%;
	background-color: white;
	display: flex;
	flex-flow: column wrap;
}

#title {
	color: white;
	background-color: #D75C37;
	padding: 1rem; 
	font-size: 2rem;
	cursor: pointer;
}

#item-container {
	margin: 1rem;
	border: solid 3px #C3D7DF;
}

.item {
	background-color: #6991AC;
	padding: 0.5rem;
	color: white;
	border: solid 3px #C3D7DF;
}

@media screen and (max-width: 460px) {
	html {
		font-size: 20px;
	}
	#main-container {
		margin-top: 0.5rem;
		width: calc(100% - 1rem) !important;
	}
}

@media screen and (max-width: 940px) {
	#main-container {
		width: calc(80%);
	}
}
